/Thesis.aux
/Thesis.bbl
/Thesis.bcf
/Thesis.blg
/Thesis.lof
/Thesis.log
/Thesis.lot
/Thesis.out
/Thesis.pdf
/Thesis.run.xml
/Thesis.toc
/texput.log
/preamble.log
/Latex/Thesis.log
/Latex/Thesis.blg
/Latex/Thesis.aux
/Latex/Thesis.bbl
/Latex/Thesis.bcf
/Latex/Configuration_Files/PoliMi3i_thesis.cls~
/src/input/
/src/output/
/src/cir2jl/emacs/
