/Thesis.aux
/Thesis.bbl
/Thesis.bcf
/Thesis.blg
/Thesis.lof
/Thesis.log
/Thesis.lot
/Thesis.out
/Thesis.pdf
/Thesis.run.xml
/Thesis.toc
/texput.log
/preamble.log
/Latex/Thesis.log
/Latex/Thesis.blg
/Latex/Thesis.aux
/Latex/Thesis.bbl
/Latex/Thesis.bcf
/Latex/Configuration_Files/PoliMi3i_thesis.cls~
/src/input/
/src/output/
/src/cir2jl/emacs/
/ltximg/
/src/lib/@/
/.dir-local.el
/Latex/Thesis.out
/Latex/Thesis.run.xml
/Latex/auto/
/Latex/styles/
/Latex/Chapters/01.log
/Latex/Abstracts/it.log
/Latex/preamble.aux
/Latex/preamble.fdb_latexmk
/Latex/preamble.fls
/Latex/preamble.log
/Latex/jlcode.log
/Latex/_region_.tex
/Latex/Thesis.fls
/Latex/Thesis.fdb_latexmk
/Latex/Images/pipeline.aux
/Latex/Chapters/auto/
/Latex/.vale.ini
